<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <title>Aplicația mea</title>
</head>
<body>

    <nav>
        <a href="/">Home</a>
        <a href="/login">Login</a>
    </nav>

    <hr>

    <!-- AICI intră conținutul paginii -->
    <%- body %>

    <hr>

    <footer>
        Footer-ul site-ului
    </footer>

</body>
</html>
